.about-header {
    font-size: 40px;
}

.about-content {
    font-size: 18px;
    line-height: 2;
}

.excom table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

.excom th, td {
    text-align: left;
    padding: 16px;
}

.excom tr {
    transition: 0.1s ease-in;
}

.excom tr:hover {
    background-color: var(--dark_blue);
    color: white;
}