.clubmeetings-header {
    font-size: 40px;
}

.clubmeetings-subheader {
    font-size: 30px;
}

.clubmeetings-content {
    font-size: 18px;
    line-height: 2;
}

.clubmeetings-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

.clubmeetings-table td {
    text-align: left;
    padding: 16px;
}
.clubmeetings-table th {
    text-align: left;
    padding: 16px;
    background-color: var(--dark_blue);
    color: white;
}

.clubmeetings-table tr {
    transition: 0.1s ease-in;
}

.clubmeetings-table tr:hover {
    background-color: var(--dark_blue);
    color: white;
}