@import url('./colors.css');

.home-group-pic-container {
    background-image: url('../assets/group_pic.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-news-cum-meetinginfo {
    display: flex;
    flex-direction: row;
}

.about-content {
    background-color: var(--dark_blue);
    padding: 20px 40px;
    color: var(--white);
}

.meetinginfo-content {
    padding: 10px 20px;
    width: 100%;
}

.latest-news {
    padding: 10px 20px;
}