@import url('./colors.css');

.home-pic-container {
    width: 50%;
    padding: 10px;
}

.home-top-half {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home-pres-about-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}

.read-more {
    background-color: transparent;
    color: var(--dark_blue);
    cursor: pointer;
    font-family: 'montserrat-r';
}

.home-bottom-half {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid white;
    background-color: var(--dark_blue);
}

.home-upcoming-meeting-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 50px 10px 0px 10px;
    margin: auto 0;
}

.home-meeting-buttons-container {
    display: flex;
    flex-direction: row;
    padding: 0px 10px 20px 10px;
}

.home-meeting-buttons-container button {
    margin-right: 10px;
}

.home-flyer-container, .home-agenda-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.home-flyer-container img, .home-agenda-container img {
    margin-left: 10px;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}

.home-info-container {
    background-color: var(--dark_blue);
    text-align: center;
    color: white;
    height: 100%;
}

.home-upcoming-events-container {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    margin-left: 40px;
}

@media (min-width: 951px) {
    .home-upcoming-events-container {
        width: 100%;
    }
}

.home-event-container {
    margin: 5px;
    padding: 5px;
    border: 2px solid white;
}

.deleteMeetingButton {
    background-color: transparent;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.deleteMeetingButton:hover {
    background-color: var(--yellow);
    color: var(--dark_blue);
    border: 2px solid transparent;
}

.addMeetingButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.addMeetingButton:hover {
    background-color: white;
    color: var(--dark_blue);
    border: 2px solid transparent;
}

.add-yes-btn {
    background-color: var(--dark_blue);
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.add-yes-btn:hover {
    background-color: transparent;
    color: var(--dark_blue);
    border: 2px solid var(--dark_blue);
}

.add-no-btn {
    background-color: var(--red);
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.add-no-btn:hover {
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
}

@media (max-width: 950px) {
    .home-pic-container {
        width: 100%;
        padding: 10px;
    }
    .home-top-half {
        flex-direction: column;
    }
    .home-bottom-half {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .home-upcoming-meeting-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: -50px;
    }
}