@import './colors.css';
@import './fonts.css';

.navbar {
    background-color: var(--dark_blue);
    color: white;
    border-bottom: 2px solid white;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    position: fixed;
    backdrop-filter: blur(15px);
    font-family: "montserrat-r";
    z-index: 2;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "montserrat-sb";
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.footer {
    background-color: var(--dark_blue);
    color: white;
    padding: 5px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--dark_blue);
    display: flex;
    flex-direction: row;
}

.meeting-info-footer {
    text-align: left;
    margin-left: 30px;
    width: 50%;
}

.meeting-info-footer p {
    font-family: "montserrat-r";
}

.club-banner-footer {
    text-align: center;
    margin-right: 30px;
    width: 50%;
}

.club-banner-footer p {
    font-family: "montserrat-r";
}

.disclaimer {
    font-family: "montserrat-r";
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.developer {
    font-family: "montserrat-r";
    font-size: 0.8rem;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    text-align: start;
    color: var(--yellow);
}

.logout-modal {
    position: fixed;
    top: 300%;
    background: white;
    z-index: 3;
    border: 3.5px solid var(--dark_blue);
}

.logout-yes-btn {
    background-color: var(--dark_blue);
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.logout-yes-btn:hover {
    background-color: transparent;
    color: var(--dark_blue);
    border: 2px solid var(--dark_blue);
}

.logout-no-btn {
    background-color: var(--red);
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.logout-no-btn:hover {
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
}

@media (max-width: 950px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 40%;
        text-align: center;
        position: absolute;
        top: 49px;
        right: 0;
        background-color: var(--dark_blue);
        border: 2px solid var(--dark_blue);
        line-height: 40px;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}
  