@import '../css/fonts.css';

.header {
    font-family: "montserrat-sb";
    font-size: 40px;
    color: var(--dark_blue);
}

.subheader {
    font-family: "montserrat-r";
    font-size: 30px;
    color: var(--dark_blue);
}

.content {
    font-size: 18px;
    line-height: 2;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

.table td {
    text-align: left;
    padding: 16px;
}
.table th {
    text-align: left;
    padding: 16px;
    background-color: var(--dark_blue);
    color: white;
}

.table tr {
    transition: 0.1s ease-in;
}

.links-table tr:hover {
    background-color: var(--dark_blue);
    color: white;
}

.form-control {
    border: none;
    border-bottom: 2px solid var(--grey);
    outline: none;
    transition: border-color 0.3s;
    padding: 5px 0;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form-control::placeholder {
    color: var(--grey);
}

.form-control:focus {
    border-bottom-color: var(--dark_blue);
}

.members-list-link {
    color: white;
    text-decoration: none;
    font-family: 'montserrat-sb';
}

.gallery-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}

@media (min-width: 951px) {
    .gallery-cards {
        margin-bottom: 50vh;
        margin-top: 20vh;
    }
}

.gallery-card {
    border: 3.5px solid var(--dark_blue);
    padding: 20px;
}

.flyer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 100px;
}

.primary-btn {
    background-color: var(--dark_blue);
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.primary-btn:hover {
    background-color: transparent;
    color: var(--dark_blue);
    border: 2px solid var(--dark_blue);
}

.danger-btn {
    background-color: var(--red);
    color: white;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'myriad-pro-b';
}

.danger-btn:hover {
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
}

.achievements-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resources-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.developer {
    font-family: "montserrat-r";
    font-size: 0.8rem;
    margin-bottom: 20px;
    padding: 0;
    text-align: start;
    color: var(--red);
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid white;
}

@media (max-width: 950px) {
    .achievements-page {
        flex-direction: column;
    }
    .resources-page {
        flex-direction: column;
    }
    .gallery-cards {
        flex-direction: column;
        align-items: center;
    }
    .gallery-card {
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .footer-wrapper {
        position: relative;
    }
}