.header {
    font-size: 40px;
}

.subheader {
    font-size: 30px;
}

.content {
    font-size: 18px;
    line-height: 2;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

.table td {
    text-align: left;
    padding: 16px;
}
.table th {
    text-align: left;
    padding: 16px;
    background-color: var(--dark_blue);
    color: white;
}

.table tr {
    transition: 0.1s ease-in;
}

.table tr:hover {
    background-color: var(--dark_blue);
    color: white;
}