.resources-header {
    font-size: 40px;
}

.resources-subheader {
    font-size: 30px;
}

.resources-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
}

.resources-table td {
    text-align: left;
    padding: 16px;
}
.resources-table th {
    text-align: left;
    padding: 16px;
    background-color: var(--dark_blue);
    color: white;
}

.resources-table tr {
    transition: 0.1s ease-in;
}

.resources-table tr:hover {
    background-color: var(--dark_blue);
    color: white;
}